<link href="material-kit.css" rel="stylesheet" />
<div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Howdy!</h1>
            <h3 class="title text-center">Let's get to know each other.</h3>
          </div>
        </div>
      </div>
</div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center"> 
        TOGETHER. WE. WIN.
      </div>
      
    </div>
  </div>
<div class="container-fluid">
    <div class="col">
      Fill out the rest of your profile. You only need to confirm your password to save the changes. If you want to change your password, you can do it by completing the change password fields below.
    </div>
</div>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f| %>
                <%= f.error_notification %>

                  <div class="form-inputs">
                    <%= image_tag(current_user.avatar_url) if current_user.avatar? %><br>
                    Photo<%= f.file_field :avatar %>
                    <%= f.input :email, required: true, autofocus: true %>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                    <% end %>

                    <%= f.input :fname ,label: 'First Name', required: true,placeholder: 'John' %>
                    <%= f.input :lname ,label: 'Last Name', required: true,placeholder: 'Smith' %>
                    <%= f.input :telephone ,label: 'Telephone', required: true, placeholder: '508-826-8385' %>
                    <%= f.label :carrier %>
                    <%= f.collection_select :carrier_id, Carrier.all, :id, :name %>
                    <%= f.check_box :sms_ok, label: 'SMS Ok?' %>
                    <%= f.input :password,
                                hint: "leave it blank if you don't want to change it",
                                required: false,
                                input_html: { autocomplete: "new-password" } %>
                    <%= f.input :password_confirmation,
                                hint: "leave it blank if you don't want to change it",
                                required: false,
                                input_html: { autocomplete: "new-password" } %>
                    <%= f.input :current_password,
                                hint: "we need your current password to confirm your changes",
                                required: true,
                                input_html: { autocomplete: "current-password" } %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "Update" , :class => "btn btn-primary" %>
                  </div><!-- END FORM ACTION BUTTON -->
            <% end %>

            <h3>Cancel my account</h3>

            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

            <%= link_to "Back", :back %>
         
     
    

  

