

<div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Sign up</h1>
            <h3 class="title text-center">Scroll Down</h3>
          </div>
        </div>
      </div>
</div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center"> 
        TOGETHER. WE. WIN.
      </div>
      
    </div>
  </div>
<div class="container-fluid">
    <div class="col">
      So Happy to have you with us. We promise to help you manage your household by providing a way to ENGAGE your kids, so that you can work as a team to get things clean.
    </div>
</div>



<h2>Sign up Now</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
