<%= form_with(model: spiffy_task, local: true) do |form| %>
  <% if spiffy_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spiffy_task.errors.count, "error") %> prohibited this spiffy_task from being saved:</h2>

      <ul>
      <% spiffy_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>
  <div class="field">
    <%= form.label :redemptions %>
    <%= form.text_field :redemptions %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
