<p id="notice"><%= notice %></p>

<h1>Spiffy Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Value</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spiffy_tasks.each do |spiffy_task| %>
      <tr>
        <td><%= spiffy_task.name %></td>
        <td><%= spiffy_task.description %></td>
        <td><%= spiffy_task.value %></td>
        <td><%= spiffy_task.active %></td>
        <td><%= link_to 'Pickup Task', new_chore_path(:spid => spiffy_task.id) if !current_user.admin %></td>
        <td><%= link_to 'Show', spiffy_task %></td>
        <td><%= link_to 'Edit', edit_spiffy_task_path(spiffy_task) if current_user.admin %></td>
        <td><%= link_to 'Destroy', spiffy_task, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin  %></td>
        <td><%= link_to 'Print', print_path(:id => spiffy_task.id) if current_user.admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spiffy Task', new_spiffy_task_path %>
