
<div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
<p id="notice"><%= notice %></p>
<h1>Viewing <%=@spiffy_task.name%></h1>
<p>
  <strong>Description:</strong>
  <%= @spiffy_task.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @spiffy_task.value %>
</p>

<p>
  <strong>Active:</strong>
  <%= @spiffy_task.active %>
</p>
<p>
  <strong>Redemptions:</strong>
  <%= @spiffy_task.redemptions %>
</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  </div>
</div>


<%= link_to 'Edit', edit_spiffy_task_path(@spiffy_task) %> |
<%= link_to 'Back', spiffy_tasks_path %>
