<div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Review Cashouts</h1>
            <h3 class="title text-center"></h3>
            <table class="table table-sm table-dark">
  <thead>
    <tr>
      <th>User</th>
      <th>Amount</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cashouts.each do |cashout| %>
      <tr>
        <td><%= cashout.user.fullname %> <span class="badge badge-success"><%=cashout.user.bank %> points available</span></td>
        <td><%= cashout.amount %></td>
        <td><%= cashout.paid %></td>
        <td><%= link_to 'Approve', approve_cashout_path(:id => cashout.id) %></td>
        <td><%= link_to 'Reject', reject_cashout_path(:id => cashout.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
            
          </div>
          <%= link_to 'Back', root_url %>
        </div>
      </div>
    </div>
  </div>
    
  </div>
</div>

