<div class="h6">You are about to submit</div>
<div class="h1"><%= @st.name %></div>
<p>
  <%= @st.description %>
</p>
<%= form_with(model: chore, local: true) do |form| %>
  <% if chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% chore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :evidence %>
    <%= form.file_field :evidence %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
