<div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Howdy!</h1>
            <h3 class="title text-center">Let's Check This Out!</h3>
          </div>
        </div>
      </div>
</div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center"> 
        <%= @chore.spiffy_task.name %>
      </div>
      
    </div>
  </div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Evidence:</strong>
  <% if !@chore.evidence_url == "" %>
  None Submitted.
  <% end %>
  <%= image_tag(@chore.evidence_url, :height => "250") if chore.evidence? %>
</p>

<p>
  <strong>Status:</strong>
  <%= @chore.status.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @chore.user.fullname %>
</p>
<p>

	<%= link_to 'Approve Chore',approve_path(:cid => @chore.id),:class => "btn btn-success" %>
	<%= link_to 'Reject Chore',rejection_path(:cid => @chore.id),:class => "btn btn-danger" %>
</p>
<%= link_to 'Edit', edit_chore_path(@chore) %> |
<%= link_to 'Back', chores_path %>
